<% provide(:title, 'About') %>
<div id="about-page-container" class="static-page-container">

	<div id="about-container" class="white-transparent-form">
		<h1>About Us</h1>
		<p><%= title() %> was created by MIT students Sean Burke and Neena Parikh for the 6.470 Web Programming Competition in January 2014. Feel free to <%= link_to "contact us", "mailto:fitnessfrenzy@mit.edu" %> with any questions, comments, or concerns. Thanks for visiting!</p>
	</div>

</div>