<% provide(:title, 'Help') %>
<div id="help-page-container" class="static-page-container">

	<div id="help-container" class="white-transparent-form">
		<h1>Help</h1>
		<p>Blah blah blah</p>
	</div>

</div>